@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:is(.dark *));


textarea:focus,
input:focus,
select:focus {
  @apply outline-none ring-0 border-amber-400;
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  @apply text-amber-600 ; 
}
